body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg,#3600e6,#c93bfc);
    /* background-color: grey; */

}

#heading{
    position: relative;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(75deg,#3C00FF,#BB00FF);
    margin-bottom: 100px;
    /* border-bottom: 2px solid white; */
    box-shadow: 1px 5px 5px 1px;
}

#icon{
    position: absolute;
    top: 30px;
    left: 5%;
    font-size: 40px;
    color: #05ee05;
}

#titleHeading{
    position: absolute;
    top: -10px;
    left: 10%;
    font-size: 50px;
    font-weight: bold;
    color: wheat;
}

#addFileSection{
    position: relative;
    height: 80%;
    width: 60%;
    left: 20%;
    bottom: 10%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#form-section{
    position: relative;
    top: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#listTitle{
    position: relative;
    top: 20px;
}

table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    
}

th {
    /* cursor: pointer; */

}

#fileDetails{
    position: relative;
    left: 10%;
    overflow-x: hidden;
  overflow-y: auto;
}

#listTitle{
    position: relative;
    margin-bottom: 50px;
}
