/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }

  #mainContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(45deg,#3600e6,#c93bfc); */
    text-align: center;
  }

  #topArea{
    position: relative;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(45deg,#3600e6,#c93bfc);
    color: white;
  }
  
  /* Button Styles */
  button {
    position: relative;
    background-color: #007bff;
    left: 43%;
    /* border: none; */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button a {
    color: white;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Input Styles */
  #searchData {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Table Styles */
  #tableInfo {
    overflow-x: auto;
    padding: 0px 10px 10px 10px;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    background-image: linear-gradient(45deg,#3600e6,#c93bfc);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  h1 {
    margin-top: 0;
  }
  

  /* Pagination Styles */
.pagination {
    position: relative;
    margin-top: 20px;
    text-align: center;
    bottom: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.pagination a:hover {
    color: #0056b3;
}

.pagination span {
    margin: 0 5px;
}


.highlight {
  background-color: #A5FF00;
}
